/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
    .head-title h1 {
        font-size: 36px;
    }
    
    .nav-menu li {
        margin-right: 14px;
    }
    
    .nav-menu li a {
        width: 138px;
        height: 138px;
        font-size: 22px;
    }
    
    .advantage-wrapper {
        padding: 120px 0;
    }
    
    .advantage {
        min-height: 385px;
    }
    
    .widget {
        width: 100%;
    }
}
    
/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
    .head-title img {
        display: none;
    }
    
    .controls a {
        opacity: .8;
    }
    
    .nav-menu li {
        margin-right: 8px;
    }
    
    .nav-menu li a {
        width: 106px;
        height: 106px;
        font-size: 16px;
    }
    
    .holidays a {
        width: 200px;
        height: 200px;
    }
    
    .holidays p {
        margin-top: 75px;
    }
    
    .advantage {
        min-height: auto;
    }
    
    .reviews img {
        display: none;
    }
    
    .review {
        padding-left: 90px;
    }
    
    .p1 {
        margin-top: 0;
    }
    
    form textarea {
        width: 320px;
    }
    
    .advice {
        margin-bottom: 40px;
    }
    
    .reviews-section form {
        width: 100%;
    }
    
    .reviews-section input {
        width: 99%;
    }
}
    
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    .head-contacts {
        display: none;
    }
    
    .head-title-wrapper {
        margin-top: 46px;
    }
    
    .head-title h1 {
        line-height: 70px;
    }
    
    .carousel-wrapper {
        display: none;
    }
    
    .navbar-wrapper {
        position: fixed;
        top: 0;
        width: 100%;
        padding: 0;
        z-index: 10
    }
    
    .navbar-container {
        padding: 0;
    }
    
    .nav-menu {
        background-color: #fff;
        border-bottom: 1px solid #d7d7d7;
        position: absolute
    }
    
    .nav-menu li {
        float: none;
        margin-right: 0;
    }
    
    .nav-menu li a {
        color: #3a3a3a;
        
        font-size: 22px;
        text-shadow: none;
        width: auto;
        height: auto;
        border-radius: 0;
        text-align: left;
        background: none;
        box-shadow: none;
        border: none;
        padding: 16px;
    }
    
    .nav-menu li a:hover {
        transform: scale(1);
    }
    
    .nav-menu li .two-string {
        padding: 16px;
    }
    
    .description-wrapper {
        padding: 20px 0;
    }
    
    .section-title {
        display: none;
    }
    
    .holidays a {
        width: 250px;
        height: 250px;
    }
    
    .holidays p {
        margin-top: 105px;
    }
    
    .review {
        padding: 0 10px;
        height: 246px;
    }
    
    .reviews h4 {
        text-align: center;
    }
    
    .reviews-control a {
        padding: 246px 0 0;
        background-color: transparent;
    }
    
    .reviews-control .prevReview {
        left: 40%;
    }
    
    .reviews-control .nextReview {
        right: 40%;
    }
    
    .footer-wrapper {
        text-align: center;
    }
    
    .cover {
        display: none;
    }
    
    .person img {
        width: 70%;
        margin-bottom: 20px;
    }
    
    .works {
        width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
    
    form textarea, form input {
        width: 90%;
    }
    
    form {
        text-align: center;
    }
    
    .contacts {
        width: 350px;
        margin: 40px auto 0;
    }
    
    .advice img {
        max-width: 90%;
    }
    
    .advice h3 {
        position: relative;
        top: -10px;
    }
    
    #closeFoto {
        top: 7%;
    }
}
    
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .head-contacts p {
        font-size: 14px;
    }
    
    .head-title h1 {
        font-size: 28px;
        line-height: 50px;
    }
    
    .section-p, .advantage p, .person-info p, .accordeon-content p {
        font-size: 14px;
    }
    
    .section-title {
        font-size: 28px;
    }
    
    .advantage h3 {
        font-size: 24px;
    }
    
    .reviews-wrapper {
        display: none;
    }
    
    .footer-wrapper p span {
        margin-left: 29px;
    }
    
    .person-info {
        padding: 15px;
    }
    
    .person img {
        width: 100%;
    }
    
    .person-info h4 {
        font-size: 20px;
    }
    
    .band-center {
        display: none;
    }
    
    .works {
        width: 100%;
    }
    
    .set a, .accordeon-content, .add-name, .add-service {
        padding: 20px;
    }
    
    .set a p {
        display: none;
    }
    
    .set a h3 {
        font-size: 18px;
    }
    
    form {
        margin-top: 20px;
    }
    
    .contacts {
        display: none;
    }
    
    .review-foto {
        float: none;
        width: 90%;
    }
    
    .review-foto ~ p {
        font-size: 14px;
    }
}

@media only screen and (min-width : 1199px) and (max-height : 800px) {
    .wedding-fotos, .corporate-fotos, .birthday-fotos {
        padding-top: 0;
    }
}