$roboto: Roboto, Arial, sans-serif

$tatiana: TatianaC

$color: #b11c1d

$gradient: linear-gradient(to right, #fff 0%,#b11c1d 50%,#fff 100%)

/* ANIMATION */

@keyframes spin
    0%
        background-color: #fff
        
    50%
        transform: scaleX(0)
        opacity: 0
        background-position: 0 0
    
    51%
        background-position: 0 -250px
        background-image: none
    
    100%
        transform: scaleX(1)
        background-color: #c65d5e
        background-position: 0 -250px
        opacity: 1
    
@keyframes spin-back
    0%
        transform: scaleX(1)
        background-position: 0 -250px
        background-image: none
        background-color: #c65d5e
        opacity: 1
    
    50%
        background-position: 0 -250px
        background-image: none
    
    51%
        transform: scaleX(0)
        opacity: 0
        background-position: 0 0
    
    100%
        background-color: #fff

/* COMMON STYLES */

strong
    font-weight: bold
    
.center
    text-align: center

.visible-block
    display: block !important

.section-title
    font-family: $tatiana
    font-size: 38px
    color: #000
    text-align: center
    margin-bottom: 30px
    padding-bottom: 25px
    border-bottom: 1px solid transparent
    border-image: linear-gradient(to right, #ffffff 0%,#cdcccc 50%,#ffffff 100%)
    border-image-slice: 1
        
.section-p
    color: #3a3a3a
    font-style: italic
    font-size: 16px
    margin: 20px
    line-height: 1.3
    
html
    font-family: $roboto
    font-size: 16px
    color: #3a3a3a
    
/* HEADER: CONTACTS */

.head-contacts
    background-color: #f6f6f6
    padding: 15px 0
    
    p, i
        display: inline-block
        margin-left: 20px
        line-height: 15px
        
    i
        font-size: 26px
        color: $color
        margin-left: 0
        
/* HEADER: TITLE */

.head-title-wrapper
    border-top: 1px solid #d7d7d7
    background-color: #fff
    
.head-title
    position: relative
    
    img
        position: absolute
        top: -70px
        left: -90px
        
    h1
        font-family: $tatiana
        font-size: 42px
        color: $color
        text-align: center
        line-height: 130px
        
/* HEADER: CAROUSEL */

.carousel-wrapper
    padding: 20px 0
    background-color: #f6f6f6
    border-bottom: 1px solid #d7d7d7
    border-top: 1px solid #d7d7d7

#carousel-container
    position: relative
    width: 100%
    max-height: 600px
    overflow: hidden
    border-radius: 50px
    
#carousel-container:hover .controls>a
    opacity: .8
    transition-duration: 0.3s
     
.carousel
    position: relative
    height: 100%
    
    li
        float: left
        height: 100%
        
.controls
    font-size: 30px
    
    a
        position: absolute
        display: block
        width: 60px
        height: 60px
        background-color: $color
        border: none
        border-radius: 50%
        top: 50%
        margin-top: -30px
        opacity: 0
        transition-duration: 0.3s
        
        i
            color: #fff
            
.prevSlide
    left: 20px
    
    i
        margin: 16px

.nextSlide
    right: 20px

    i
         margin: 16px 20px
        
/* HEADER: NAVBAR */

.navbar-wrapper
    padding: 20px 0
    background-color: #fff
    
.navbar-header
    background-color: #fff
    border-bottom: 1px solid #d2d2d2
    
    button
        margin: 0
    
    i
        font-size: 26px
        color: #3a3a3a
    
.nav-menu
    font-family: $tatiana
    padding: 0
    width: 100%
    z-index: 999
    
    li:last-of-type
        margin-right: 0
    
    li
        margin-right: 28px
        
        a
            display: block
            color: #fff
            font-size: 26px
            text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.2)
            width: 160px
            height: 160px
            border-radius: 50%
            text-align: center
            background: linear-gradient(to bottom, #ffffff 0%,#b11c1d 50%,#ffffff 100%)
            box-shadow: 25px 25px 32px 0px rgba(0, 0, 0, 0.15)
            border: 1px solid rgba(178, 178, 178, .5)
            padding-top: 41%
            transform: scale(1)
            transition-duration: 0.3s
            
        a:hover
            transform: scale(1.2)
            transition-duration: 0.3s
        
        a:active
            background: linear-gradient(to bottom, #ffffff 0%,#b11c1d 50%,#ffffff 100%)
            box-shadow: none
            transform: scale(1.1)
            
        .two-string
            padding-top: 34%
            
/* MAIN: DESCRIPTION */

.description-wrapper
    padding: 80px 0 60px
        
/* MAIN: HOLIDAYS */

.holidays-wrapper
    padding: 50px 0 0
    background: $gradient
    
.holidays
    
    a
        display: block
        position: relative
        z-index: 9
        width: 250px
        height: 250px
        background-color: #fff
        border: 5px solid #fff
        border-radius: 50%
        margin: 0 auto
        background-repeat: no-repeat
        animation-name: spin-back
        animation-duration: 0.8s
        animation-fill-mode: forwards
        
    a:hover, a:hover p
        text-decoration: none
        animation-name: spin
        animation-duration: 0.8s
        animation-fill-mode: forwards
    
    p
        font-family: Arial, $roboto, sans-serif
        font-size: 36px
        font-style: italic
        color: #fff
        text-align: center
        margin-top: 105px
        opacity: 0
        border-radius: 50%
        animation-name: spin-back
        animation-duration: 0.8s
        animation-fill-mode: forwards
    
    h4
        font-family: Arial, Roboto, sans-serif
        font-size: 22px
        font-style: italic
        color: #fff
        text-align: center
        margin-top: 30px
        margin-bottom: 50px
    
.weddings
    background-image: url(../img/holidays-1.jpg)
    
.corporate
    background-image: url(../img/holidays-2.jpg)
    
.birthday
    background-image: url(../img/holidays-3.jpg)
    
/* MAIN: ADVANTAGE */

.advantage-wrapper
    padding: 120px 0 170px
    
.advantage
    color: #484848
    margin-top: 30px
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3)
    padding: 35px 20px
    min-height: 326px
    
    h3
        font-family: Arial, $roboto, sans-serif
        font-size: 26px
        font-style: italic
        text-align: center
        margin-bottom: 30px
        
    p
        line-height: 1.3
        
/* MAIN: FOTOS */

.fotos
    padding: 6px
    
    img
        max-width: 100%
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5)
        
/* MAIN: REVIEWS */

.reviews-wrapper
    padding: 120px 0
    
#reviews-container
    padding: 30px 0
    position: relative
    width: 100%
    max-height: 310px
    overflow: hidden
    
.reviews
    position: relative
    height: 100%
    
    li
        float: left
        height: 100%
    
    img
        float: left
        margin: 0 70px 0 100px
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75)
        
    h4
        font-family: $roboto
        font-style: italic
        font-size: 24px
        margin-bottom: 50px
        
    p
        
        
.review
    padding-right: 90px
        
.reviews-control
    
    a
        position: absolute
        top: 0
        font-size: 40px
        color: rgba(58 , 58, 58, .2)
        height: 100%
        padding: 140px 20px 0 20px
        background-color: #fff
        
    a:hover
        color: rgba(58 , 58, 58, .6)
        
    .nextReview
        right: 0
        
    .prevReview
        left: 0
        
/* FOOTER */

.band
    height: 80px
    background-image: $gradient
    box-shadow: 21px 29px 36px 0px rgba(0, 0, 0, 0.15)
    position: relative
    
.footer-wrapper
    background-color: #f3f3f3
    padding: 40px 0
    
    p
        font-size: 20px
        font-style: italic
        margin-bottom: 30px
        line-height: 1.3
        text-shadow: 10px 10px 7px rgba(0, 0, 0, 0.19)
        
        a
            color: #3a3a3a
            
        a:hover
            text-decoration: none
            color: $color
        
        span
            display: block
            margin-left: 41px
            
.footer-img
    text-align: center
    
    img
        border: 1px solid #b2b2b2
        border-radius: 50%
        box-shadow: 13px 21px 30px 0px rgba(0, 0, 0, 0.15)
        
.widget
    width: 83%
    box-shadow: 13px 21px 30px 0px rgba(0, 0, 0, 0.15)
    
/* ABOUT: BACKGROUND */

.cover
    
    img
        width: 100%
        border-top: 1px solid #6d6b6b
        border-bottom: 1px solid #6d6b6b
        
/* ABOUT: PERSON */

.person-wrapper
    box-shadow: inset 0px 0px 9px 0px rgba(0, 0, 0, 0.33)
    margin-bottom: 50px
    
.person
    padding: 80px 0
    
    img
        width: 100%
        
.person:first-of-type
    border-bottom: 1px solid transparent
    border-image: linear-gradient(to right, #ffffff 0%,#cdcccc 50%,#ffffff 100%)
    border-image-slice: 1
    
.person-img-1
    margin-left: -20px
    text-align: center
    
.person-img-2
    text-align: center
    
    img
        border: 2px solid rgba(72, 72, 72, .4)
        box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.35)

.person-info
    box-shadow: 1px 1px 21px 0px rgba(0, 0, 0, 0.35)
    padding: 30px 40px 23px
    
    h4
        font-family: $tatiana
        font-size: 24px
        padding-bottom: 20px
        margin-bottom: 20px
        border-bottom: 1px solid #a2a2a2
        text-align: center
        
    p
        line-height: 1.3
        color: #484848
        margin-bottom: 20px
        
    p:last-of-type
        margin-bottom: 0
    
.p1
    margin-top: 25%
    
/* PORTFOLIO: WORKS */

.works
    display: block
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3)
    padding: 5px
    margin: 40px 0
    transition-duration: 0.3s
    
    img
        width: 100%
    
    h3
        font-style: italic
        font-size: 20px
        color: #7d7d7d
        margin-top: 20px
        margin-bottom: 15px
        transition-duration: 0.3s
        
.works:hover
    background-color: rgba(177, 28, 29, .15)
    text-decoration: none
    
    
.works:hover h3
    color: #484848
    transform: scale(1.1)
    
.band-center
    box-shadow: none
    
.video
    margin-top: 40px
    margin-bottom: 40px
    
    iframe
        max-width: 100%
    
/* SERVICE: ACCORDEON */

.accordeon-container
    position: relative
    margin: 30px 0 50px
    
.add-container
    margin: 30px 0 50px
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2)
    
.add-name
    background-color: rgba(178, 178, 178, .6)
    padding: 20px 30px
    text-align: center
    font-size: 20px
    font-style: italic
    color: #fff
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2)
    
.add-service
    padding: 20px 30px
    
    ol
        list-style-type: decimal
        list-style-position: inside
        
        li
            font-size: 14px
            font-style: italic
            line-height: 1.3
            margin-bottom: 15px
        
    
.set
    position: relative
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2)
    margin-bottom: 15px
    
    a
        display: block
        padding: 20px 30px
        color: #3a3a3a
        font-size: 20px
        font-style: italic
        overflow: hidden
        transition-duration: 0.5s
        
        h3
            float: left
            
        p
            float: right
            
.set>a.active, .set>a:hover
    background-color: rgba(177, 28, 29, .7)
    
.set>a.active h3, .set>a.active p, .set>a:hover h3, .set>a:hover p
    color: #fff
    
.accordeon-content
    position: relative
    padding: 20px 30px
    display: none
    
    p
        line-height: 1.3
        margin-bottom: 15px
        font-size: 16px
    
    p:last-of-type
        margin-bottom: 0
    
/* CONTACTS: FORM */

form, .contacts
    margin-top: 60px
    
form
    
    input
        width: 320px
        margin-bottom: 15px
        border: 1px solid #b0b0b0
        border-radius: 2px
        padding: 8px 15px
        
    textarea
        width: 420px
        margin-bottom: 15px
        border: 1px solid #b0b0b0
        border-radius: 2px
        padding: 8px 15px
        
    input[type=submit]
        width: auto
        font-size: 15px
        padding: 9px 30px
        color: #fff
        background-color: rgba(177, 28, 29, .9)
        border-radius: 2px
        border: none
        box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.33)
        
    input[type=submit]:hover
        background-color: rgba(177, 28, 29, .7)
        
    input[type=submit]:active
        background-color: rgba(177, 28, 29, 1)
        box-shadow: none
        
/* CONTACTS: CONTACTS*/

.contacts
    margin-top: 25%
    
    i
        float: left
        font-size: 36px
        color: $color
        margin-right: 20px
        
    div
        margin-bottom: 30px
        
    p
        font-size: 18px
        line-height: 36px
        
    a
        font-size: 18px
        line-height: 36px
        color: #3a3a3a
        
    a:hover
        color: $color
        text-decoration: none
        
.vk
    
    i
        color: #507299
        
/* ADVICE */

.advice
    display: block
    margin-top: 20px
    margin-bottom: 100px
    text-align: center
    position: relative
    
    img
        width: 96%
        box-shadow: 8px 13px 13px rgba(0,0,0,.75)
        filter: grayscale(100%)
        transition-duration: 1.2s
        
    h3
        position: absolute
        bottom: -15%
        left: 0
        width: 100%
        line-height: 55px
        font-family: Arial
        font-size: 20px
        font-style: italic
        color: #fff
        text-shadow: 2px 2px rgba(0,0,0,.2)
        border-radius: 3px
        background-color: #b11c1d
        background-image: linear-gradient(to top, rgba(255,255,255,.61), rgba(177,28,29,.61) 54%, rgba(255,255,255,.61))
        transition-duration: 1s
        
.advice:hover
    text-decoration: none !important
        
.advice:hover h3
    bottom: 90%
    
.advice:hover img
    filter: none
    
/* FILTER GRAYSCALE FOR IE */

.img-bg
    width: 96%
    height: 240px
    margin: 0 auto
    background-repeat: no-repeat
    background-size: 100%
    transition-duration: 1s
    
.married
    background-image: url(../img/just-married.jpg)
    
.married-color
    background-image: url(../img/just-married-color.jpg)
    
.glasses
    background-image: url(../img/glasses.jpg)
    
.glasses-color
    background-image: url(../img/glasses-color.jpg)
    
.happy
    background-image: url(../img/happy-birthday.jpg)
    
.happy-color
    background-image: url(../img/happy-birthday-color.jpg)
    
/* ADVICE-SINGLE */

.advice-single
    
    p
        color: #3a3a3a
        font-style: italic
        font-size: 16px
        margin: 20px
        line-height: 1.3

.header-single
    margin-bottom: 50px
    
/* PORTOLIO: FOTOS */

.wedding-fotos, .corporate-fotos, .birthday-fotos
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 10
    background-color: rgba(0, 0, 0, .9)
    padding-top: 90px
    padding-bottom: 20px
    display: none

.gallery, .galleryContainer
    text-align: center
    margin: 0 auto
    width: 100%
    height: 100%
    overflow: auto
    position: relative
    
    img
        max-width: 100%
        
.slide
    width: 100%
    margin: 0 auto
    
.gallery-control
    display: block
    width: 40px
    height: 40px
    position: absolute
    cursor: pointer
    top: 50%
    margin-top: -20px 
    font-size: 40px
    color: #fff
    z-index: 11
    
.gallery-control:hover
    color: rgba(0, 0, 0, .5)
    
#prevFoto
    left: 1%
    
#nextFoto
    right: 1%
    
#closeFoto
    top: 3%
    
/* REVIEWS */

.reviews-section
    margin-bottom: 50px

.reviews-section form
    margin: 0 auto
    width: 54%
    
.reviews-section form>span
    margin-right: 15px
    line-height: 30px
    float: left

.reviews-section input
    display: inline-block
    width: 49%
    
.reviews-section textarea
    display: block
    width: 99%
    
.file-upload
    position: relative
    overflow: hidden
    width: 180px
    height: 33px
    padding: 9px 30px
    text-align: center
    font-size: 15px
    color: #fff
    background-color: rgba(177, 28, 29, 0.9)
    border-radius: 2px
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.33)
    
    input[type=file]
        display: none
        
    label
        display: block
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        cursor: pointer
        
    span
        line-height: 33px
        
.file-upload:hover
    background-color: rgba(177, 28, 29, 0.7)
    
.file-upload:active
    background-color: #b11c1d
    box-shadow: none
    
.review-foto
    float: left
    width: 16%
    margin: 20px 60px 0 20px
    text-align: center
    
    img
        width: 100%
    
    h3
        font-size: 16px
        line-height: 1.4
        margin: 20px 0
        font-style: italic
        color: #b11c1d
        
.review-foto ~ p
    font-size: 15px
    
.reviews-line
    margin: 30px 0
    border-bottom: 1px solid transparent
    border-image: linear-gradient(to right, #ffffff 0%,#cdcccc 50%,#ffffff 100%)
    border-image-slice: 1
        